body {
    background: #EBEBEB;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}



.blockpicture {
    border: solid 2px black;
    float: left;
}
.blocktable {
    width:65%;
    float: right;
}
